body {
    background: #f0f3f5;
    color: #fff;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

conetendor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0;
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets > div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}